<header>
    <div class="navigation">
        <div class="nav__logo">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <h3>BLUE CLOUD</h3>
                </a>
            </li>
            </li>
        </div>
        <div class="nav__menu">
            <ul class="nav nav-pills justify-content-center">
                {{#compareInt user.role 1}}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/quanlisanpham">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quanlidonhang">Đơn hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quanli">Bình luận</a>
                </li>
                {{/compareInt }}

                 {{#compareInt2 user.role 1}}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/nike">Nike</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/adidas">Adidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bitis">Bitis Hunter</a>
                </li>
                 {{/compareInt2 }}
            </ul>
        </div>
        <div class="nav__account">
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item dropdown">

                    {{#if user}}
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        {{user.username}}
                        </a>
                    <ul class="dropdown-menu">
                      
                        {{#compareString user.role 1}}
                        <li><a class="dropdown-item" href="/taoadmin">Tạo admin mới</a></li>
                        
                        {{/compareString }}
                        {{#compareString user.role 0}}
                        <li><a class="dropdown-item" href="/giohang">Giỏ hàng</a></li>
                        <li>
                            <a class="dropdown-item" href="/donhang">Đơn hàng</a>
                        </li>
                         {{/compareString }}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/dangxuat">Đăng xuất</a></li>
                        
                    </ul>
                    {{else}}
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                       Xin chào
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/dangnhap">Đăng nhập</a></li>
                        <li>
                            <a class="dropdown-item" href="/dangki">Đăng kí</a>
                        </li>
                    </ul>
                   
                {{/if}}
                </li>
            </ul>
        </div>
    </div>
</header>

